body {
    background: url("movie-theater1.jpg") center center no-repeat;
    height: 600px;
    background-size: cover;
}

#text {
    margin-top: 5%;
    text-align: center;
    color: #ff9100;
}

#searchText {
    color: #ff9100;
    margin-bottom: 5%;
}

#searchResults {
    margin-top: 10%;
    margin-left: 5%;
}

#input {
    width: 43%;
}

#results {
    margin-top: -25%;
    margin-left: 71%;
}